* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    border: 5px solid green;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    border: 5px solid blue;
}

#calculator {
    border: 5px solid yellow;
    width: 500px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#display {
    border: 5px solid red;
    flex-grow: 1;
}

#interface {
    border: 5px solid black;
    padding: 20px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.row {
    border: 5px solid pink;
    margin: 5px;
    flex-grow: 1;
    display: flex;
}

button {
    border: 5px solid green;
    margin: 5px;
    flex-grow: 1;
}

.button1 {
    flex-grow: 2.5;
}

button:hover {
    background: gray;
}

button:active {
    background: black;
}