html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(img/sun4_generated.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

@font-face {
    font-family: Calculator;
    src: url('fonts/Calculator.woff2') format('woff2');
}

@font-face {
    font-family: Retro;
    src: url('fonts/RetrokingRegular.woff2') format('woff2');
}

#title {
    font-family: Retro;
    font-size: 48px;
    color: rgb(105, 20, 112);
    margin: -50px 0px;
}

#calculator {
    background-color: rgb(109, 71, 0);
    /* height: 400px;
    width: 400px; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
}

#display-rim {
    background-color: orange;
    border-radius: 15px;
    padding: 10px
}

#display {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: rgb(74, 74, 240);
    border-radius: 15px;
}

p {
    margin: 0px;
    font-family: Calculator;
    font-size: 80px;
}

#interface {
    padding: 20px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.row {
    border: 5px solid pink;
    margin: 5px;
    flex-grow: 1;
    display: flex;
}

button {
    border: 5px solid green;
    margin: 5px;
    flex-grow: 1;
}

.button1 {
    flex-grow: 2.5;
}

button:hover {
    background: gray;
}

button:active {
    background: black;
}

.footer {
    display: flex;
    background-color: rgb(252, 82, 21);
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 15px;
}

#mark {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    filter: brightness(.9);
}

#github-logo {
    height: 15px;
}