html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(img/sun4_generated.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

@font-face {
    font-family: Calculator;
    src: url('fonts/Calculator.woff2') format('woff2');
}

@font-face {
    font-family: Retro;
    src: url('fonts/RetrokingRegular.woff2') format('woff2');
}

#title {
    font-family: Retro;
    font-size: 48px;
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    color: rgb(105, 20, 112);
    margin: -50px 0px;
}

#calculator {
    background-color: rgb(109, 71, 0);
    height: 550px;
    width: 400px;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
}

#display-rim {
    background-color: orange;
    border-radius: 15px;
    padding: 10px
}

#display {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: rgba(133, 133, 252, 0.795);
    border-radius: 15px;
}

p {
    margin: 0px;
    font-family: Calculator;
    font-size: 60px;
}

#interface {
    padding: 20px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    flex-grow: 1;
    display: flex;
}

button {
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.special-button  {
    background-color: rgb(255, 74, 19);
}

button:hover {
    background-color: gray;
}

button:active {
    background: black;
}

.footer {
    display: flex;
    background-color: rgba(252, 83, 21, 0.945);
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 15px;
}

#mark {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    font-family: Retro;
    font-size: 18px;
    font-weight: 100;
    filter: brightness(.9);
}

#github-logo {
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
}